body {
    font-family: Arial, sans-serif;
    background-color: brown !important;
    
}

.allcalc {
    background: brown;
    padding: 50px;
}

.allcalc h1 {
    color: black;
    font-weight: bold;
}

.allcalc h3 {
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

.allcalc h4 {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.simplecalc {
    border: none;
    border-radius: 10px;
    background: bisque;
    text-align: center;
    margin: 20px 30px;
    padding: 30px 50px;
}

.first input {
    border: none;
    margin-bottom: 30px;
    font-weight: bold;
}

.firin input {
    padding: 10px 20px;
}

.plus {
    font-weight: bold;
    font-size: 15px;
}

.secin input {
    padding: 10px 20px;
}

.result {
    font-weight: bold;
    font-size: 15px;
}

.second button {
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 20px;
    border: none;
    background: brown;
    color: white;
    font-weight: bold;
}

.investcalc {
    border: none;
    border-radius: 10px;
    background: bisque;
    text-align: center;
    margin: 20px 0px;
}

.investcalc input {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

.investcalc button {
    background: brown;
    color: white;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.investcalc h5 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.forsel select {
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 5px 10px;
}

.loancalc {
    border: none;
    border-radius: 10px;
    background: bisque;
    text-align: center;
    margin: 20px auto;
}

.loancalc h5 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.loancalc input {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

.forsell select {
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 5px 10px;
}
.loancalc button {
    background: brown;
    color: white;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}
