body {
    font-family: Arial, sans-serif;
    background-color: brown !important;
}

.allcalc {
    background: brown;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    gap: 30px;
    justify-content: center;
}

.simplecalc,
.investcalc,
.loancalc,
.retirecalculator {
    border: none;
    border-radius: 10px;
    background: bisque;
    text-align: center;
    flex: 1 1 250px;
    max-width: 25%;
    padding: 15px;
}

.allcalc h1 {
    color: black;
    font-weight: bold;
}

.allcalc h3 {
    font-size: 18px;
    color: black;
}

.allcalc h4 {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.allcalc h5 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.allcalc button {
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 20px;
    border: none;
    background: brown;
    color: white;
    font-weight: bold;
}

.allcalc input {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

.first input {
    border: none;
    margin: 10px 0;
    font-weight: bold;
}

.plus {
    font-weight: bold;
    font-size: 15px;
}

.result {
    font-weight: bold;
    font-size: 15px;
}

.forsel select {
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 5px 10px;
}

.forsell select {
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 5px 10px;
}

.retirecalculator input {
    border: none;
    margin: 10px 0;
    font-weight: bold;
}

@media (max-width: 600px) {

    .simplecalc,
    .investcalc,
    .loancalc,
    .retirecalculator {
        max-width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .simplecalc,
    .investcalc,
    .loancalc,
    .retirecalculator {
        max-width: 45%;
    }
}

@media (min-width: 901px) {

    .simplecalc,
    .investcalc,
    .loancalc,
    .retirecalculator {
        max-width: 25%;
    }
}
